h1 {
  font-family: "Pacifico", cursive;
}

footer {
  text-align: center;
  font-size: .75em;
  color: #50514F;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-group {
  font-size: 14px;
}
